@import "tailwindcss";

@theme inline {
  --color-0: #000000;
  --color-1: #0c594a;
  --color-2: #f3968e;
  --color-3: #0000ee;
  --color-4: #cccccc;
  --color-5: #f7f7f7;
  --color-6: #ffffff;
  --color-7: #fedf58;
  --color-8: #116dff;
  --color-9: #e33292;
  --color-10: #1d67cd;
  --color-11: #5f6360;
  --color-12: #080808;
  --color-13: #1a2df3;
  --color-14: #e72818;
  --color-15: #333333;
  --color-dark: #000000;
  --color-primary: #0c594a;
  --color-primary-light: #f3968e;
}

  body {
    @apply bg-white text-dark antialiased;
}
